doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Call Your Lawmakers - #{title}

    link(rel="stylesheet",href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet",href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css")
    script(defer,src="https://code.getmdl.io/1.2.1/material.min.js")
    script( src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous")

    script.
      window.CYL = {}
      CYL.currentUser = !{JSON.stringify(user)};

    block css
      link(rel='stylesheet', href='/css/style.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    div(class="mdl-layout mdl-js-layout")
      block content

    