extends layout

block content
  h1= title
  //- p Welcome to #{title}
  //- h2 Login
  //- a(href="/auth/facebook",class="btn btn-default") Facebook
  
  script(src="https://sdk.accountkit.com/en_US/sdk.js")

  script.
    window.fbAsyncInit = function() {
    FB.init({
      appId      : '207540456359128',
      xfbml      : true,
      version    : 'v2.8'
      });
    };

    (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));


  script.
    // initialize Account Kit with CSRF protection
    AccountKit_OnInteractive = function(){
      AccountKit.init(
        {
          appId: '#{facebook.appId}', 
          state:"#{csrf}", 
          version:"v1.1"
        }
      );
    };

    // login callback
    function loginCallback(response) {
      console.log(response);
      if (response.status === "PARTIALLY_AUTHENTICATED") {
        
        $.post('/accountkit-login')
        document.getElementById("code").value = response.code;
        document.getElementById("csrf_nonce").value = response.state;
        document.getElementById("my_form").submit();
      }
      else if (response.status === "NOT_AUTHENTICATED") {
        // handle authentication failure
      }
      else if (response.status === "BAD_PARAMS") {
        // handle bad parameters
      }
    }

    $(function(){
      $('#phone-login-form').on('submit', function(){
        var ph_num = document.getElementById("phone_num").value;
        AccountKit.login('PHONE', 
          {countryCode: '1', phoneNumber: ph_num}, // will use default values if this is not specified
          loginCallback);
      });
      $('#email-login-form').on('submit', function(){
        var email_address = document.getElementById("email").value;
        AccountKit.login('EMAIL', {emailAddress: email_address}, loginCallback);
      });
    });